.pg0 {
    height: 100vh;
    width: 100%;
    background-image: url(./../../../media/mainpic.png);
    background-size: cover;

}

#sol {

    margin-top: 2vh;
    width: 80%;
    height: 5vh;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 2px 10px;
    /* position: sticky; */
}

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 20vw; */
    align-items: center;
    /* margin-top: 3vh; */
}




.butnew {
    height: 7vh;
    width: 60vw;
    margin-top: 60vh;
    /* position: absolute; */
    margin-left: 20vw;
    border-radius: 15px;
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    /* position: sticky; */
    background-color: rgba(119, 255, 0, 0.463);
}

.bottom {

    margin-top: 80vh;
    display: flex;
    justify-content: center;
}

#auto {
    width: 100%;
}

.tag {
    margin-left: 30vw;
    margin-top: 15vh;
    padding: 0;
    /* margin-top: 5px; */
}

#rot {
    margin-top: 6vh;
    color: black;
    background-color: rgba(219, 254, 113, 0.521);
    border-radius: 15px;
    padding: 2px;
}